/*--lệnh code thủ tục--*/
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    color: #939393;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
.clear{
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
a, a:visited, a:active, a:link, a:focus {
    cursor: pointer;
    text-decoration: none;
    color: #777;
    outline: none;
}
.container_12{
    max-width: 1200px;
    margin: 0 auto;
}
.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
ul li{
    list-style: none;
    margin: 0;
    padding: 0;
}
#bodyWrapper {
    padding-bottom: 0px;
    width: 100%;
    float: left;
    background: url(../css/images/bodyWrapper.png) repeat 50% 0% #fff;
    height: initial;
}
.bg_body {
    min-height: 100%;
}
.bg_body {
    height: 100%;
    min-height: 100%;
}
#bodyWrapper:before {
    content: '';
    width: 219px;
    height: 315px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../css/images/bodyWrapper_2.png) no-repeat 0% 0% transparent;
}
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
/*--End lệnh code thủ tuc--*/
/*back top top*/
.fa-chevron-circle-up{
    font-size: 3em;
}
#back-top a:hover {
    color: #3c8c44;
}
.btn-top {
    border: medium none;
    bottom: 20px;
    cursor: pointer;
    display: none;
    height: 50px;
    outline: medium none;
    padding: 0;
    position: fixed;
    right: 20px;
    width: 50px;
    z-index: 9999;
}
/*//back to top*/
/*header*/
/*menu*/
a.actives.active{
    background: #c24a49;
    border-top: 1px solid #c16564;
    border-bottom: 1px solid #c16564;
    transition: 0.5s;
}
/*//menu*/
.user_menu .button-t span:hover{
    color: #ce3c3c;
}
.user_menu .log a:hover{
    color: #ce3c3c;
}
.user_menu .button-t span{
    font-size: 12px;
}
.box_languages {
    width: 13%;
}
.extra_line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 37px;
    background-color: #fbf5eb;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    text-align: center;
}
#bodyWrapper .wrapper {
    background-color: transparent;
    margin: 37px auto 0px auto;
    padding: 0px 0px 0px 0;
    position: relative;
    width: 100%;
}
.wrapper {
    margin: 0px auto 0px auto;
    padding: 0px 0px 0px 0;
    position: relative;
    width: 1170px;
}
.row_1 {
    background-color: transparent;
}
.row_1 {
    margin: 0px auto;
    width: 100%;
    float: left;
}
.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.container_12 .grid_12 {
    width: 1200px;
}
.grid_12 {
    display: inline;
    float: left;
    position: relative;
}
#header {
    position: relative;
    padding: 0px 0px 0px 0px;
    min-height: 244px;
}
.box_languages {
    top: -27px;
    right: -2px;
    width: 140px;
    position: absolute;
    z-index: 101;
}
.box_header_phone, .box_header_cart, .box_currencies, .box_languages {
    position: absolute;
    display: inline-block;
    z-index: 101;
}
.languages {
    overflow: hidden;
}
.languages label {
    font-size: 11px;
    font-family: "Open Sans",sans-serif;
    font-weight: 500;
    color: #c65655;
    padding: 3px 0px 0px 2px;
    text-transform: uppercase;
    cursor: default;
    display: none;
}
.fl_left {
    float: left;
}
label, input, button, select, textarea {
    font-weight: normal;
    font-size: 12px;
}
.languages a {
    display: block;
    padding: 0px;
    float: left;
    margin: 0 0 0 6px;
}
a {
    outline: 0!important;
}
img {
    transition: all 1s ease;
}

img:hover {
    transform: scale(1.1,1.1);
}
img {
    vertical-align: top;
}
img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
img {
    border: 0;
}
.search {
    top: 70px;
    right: 15px;
    position: absolute;
    z-index: 1;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
}
form {
    margin: 0 0 0px 0;
    padding: 0;
}
.search .input-width {
    float: left;
    display: block;
    margin-right: 0px;
    -webkit-border-radius: 0px 0 0 0px;
    border-radius: 0px 0 0 0px;
    background: #fff;
    border-right: 0px;
}
.search .input-width .go {
    color: #82938b;
    padding: 10px 0 0 10px;
    border: none;
    font-size: 11px;
    height: 20px;
    width: 185px;
    background-color: #fff;
}
#box_search button {
    float: left;
    -webkit-border-radius: 0 0px 0px 0;
    border-radius: 0 0px 0px 0;
    display: block;
    float: left;
    padding: 0px 0;
    width: 28px;
    height: 30px;
    text-indent: -9999px;
    background: url(../css/images/btn-search.png) no-repeat -3px -1px;
    background-color: #3c8c44;
    border: 1px solid transparent;
    border-left: 1px solid #4b9553;
    margin-left: 0px;
}
label, input, button, select, textarea {
    font-weight: normal;
    font-size: 12px;
}
.search label {
    display: none;
}
.fl_left {
    float: left;
}
label, input, button, select, textarea {
    font-weight: normal;
    font-size: 12px;
}
.box_header_cart {
    top: 69px;
    right: 235px;
    z-index: 9;
    position: absolute;
    background-color: transparent;
    padding: 0px 0px 0px 0px;
    font-family: "Open Sans",sans-serif;
    text-transform: none;
    line-height: 14px;
}
.box_header_cart a.cart_l {
    font-size: 14px;
    border-radius: 6px;
    min-width: 165px;
}
.box_header_phone, .box_header_cart, .box_currencies, .box_languages {
    position: absolute;
    display: inline-block;
    z-index: 101;
}
.box_header_cart a.cart_l i {
    font-size: 30px;
    color: #c24a49;
    float: left;
    display: inline-block;
    vertical-align: -4px;
    margin-right: 9px;
}
a [class^="icon-"], a [class*=" icon-"] {
    display: none;
}
[class^="icon-"], [class*=" icon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}
.icon-shopping-cart:before {
    content: "\f07a";
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}
.box_header_cart a.cart_l label {
    color: #707070;
    padding: 0px 3px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    display: none;
}
.box_header_user_menu {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    float: left;
}
ul.user_menu {
    top: -28px;
    left: 0px;
    padding: 1px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    list-style: none;
    position: absolute;
    z-index: 100;
    border-top: 0px solid #595858;
}
ul.user_menu li.first {
    background: none;
}
ul.user_menu li {
    float: left;
    display: inline-block;
    white-space: nowrap;
}
ul.user_menu li.first a {
    margin-left: 0px;
}
ul.user_menu li a {
    color: #8b8b8b;
    font-size: 13px;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 14px;
    display: inline-block;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 15px 0px 15px;
}
.boxes_menu {
    top: 158px;
    left: 0;
    width: 100%;
    position: absolute;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}
.boxes_menu .menu {
    margin: 0 0px;
    overflow: hidden;
    background: none;
    height: 55px;
    background: #3c8c44;
}
.boxes_menu .menu ul {
    padding-left: 0px;
    list-style: none;
    margin: 0px 0px 0 0px;
    width: auto;
}
.boxes_menu .menu ul li.act {
    border-top: 1px solid #c16564;
    border-bottom: 1px solid #c16564;
}
.boxes_menu .menu ul li {
    float: left;
    padding: 0;
    margin: 0 0px 0 0px;
    background: url(../css/images/bg_menu.png) no-repeat 0 50%;
}
.boxes_menu .menu ul li.act a {
    color: #fff;
    background: #c24a49;
}
.boxes_menu .menu ul li.first a {
    font-size: 16px;
    padding: 18px 36px 17px 36px;
}
.boxes_menu .menu ul li a {
    font-size: 16px;
    font-family: "Open Sans",sans-serif;
    color: #fff;
    font-weight: 300;
    display: inline-block;
    padding: 21px 33.5px 17px 33.5px;
    text-transform: uppercase;
}
.boxes_menu .menu ul li a:hover {
    color: #fff;
    background: #c24a49;
}
a.logo {
    left: 0px;
    top: 52px;
    z-index: 9;
    width: 221px;
    height: 57px;
    position: absolute;
    display: inline-block;
}
.box_header_cart .cart_l span{
    line-height: 30px;
    margin-right: 2em;
}
/*menu*/
.row_3 {
    width: 100%;
    float: left;
    background: transparent;
    padding-bottom: 14px;
}
.row_3 {
    width: 100%;
    float: left;
}
.banner_side {
    line-height: 0em;
    margin-top: -33px;
    display: inline-block;
    float: left;
}
.banner_side a {
    display: block;
    overflow: hidden;
    margin: 20px 0px 0px 30px;
    margin-bottom: -14px;
}
.banner_side a img {
    margin: 0px;
    transition: all 0.3s linear;
}
.banner_side a img {
    margin: 10px 0px 0px 0px;
    float: left;
    transition: all 0.3s linear;
    width: 400px;
}
img {
    vertical-align: top;
}

.slidprev, .slidnext {
    margin: -220px 0 0 0;
}
.slidprev, .slidnext {
    position: absolute;
    background: #fff;
    height: 42px;
    width: 42px;
    cursor: pointer;
    z-index: 9;
    margin: -220px 0 0 0;
    text-align: center;
    font: bold 15px/42px Arial, Verdana, serif;
    opacity: 0.85;
    color: #444;
}
.w3-container .slidnext{
    margin-left: 48.4em;
}
.for_smart_browsers .grid_12{
    margin-left: 0;
    margin-right: 0;
}
.back_top .fa-chevron-circle-up{
    font-size: 3em;
}
/*//menu*/
.for_smart_browsers img, .logo img, .infoBoxContents .box_icon img, .infoBoxContents table img{
    transform: none;
}
/*//header*/
/*content_detail*/
.tru{
    display: none;
}
.accordion_title.open .cong{
    display: none;
}
.accordion_title.open .tru{
    display: block;
}
.button__padd {
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    line-height: 0em;
}
.row_12 {
    background: transparent;
    margin: 0px auto;
    width: 100%;
}
.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
#bodyContent {
    padding: 0px 0px 0px 0px;
}
.container_12 .grid_9 {
    width: 900px;
    float: left;
}
.push_3 {
    position: relative;
}
.grid_9 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 30px;
}
.none {
    display: none;
}
.box_wrapper_title22 {
    overflow: hidden;
    position: relative;
    background: #c24a49;
    margin: 18px 0 28px 0;
}
.box_wrapper_title22 .box_wrapper_title {
    padding: 9px 0px 7px 19px;
    float: left;
}
.box_wrapper_title22 .box_wrapper_title span.title-icon {
    background: url(../css/images/title-icon.gif) 0 0 no-repeat transparent;
    display: inline-block;
    width: 8px;
    height: 5px;
    position: absolute;
    top: 15px;
    left: 20px;
    display: none;
}
.box_wrapper_title22 .box_wrapper_title h1, .box_wrapper_title22 .box_wrapper_title h1 span, .box_wrapper_title22 .box_wrapper_title h1 a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Georgia",sans-serif;
    line-height: 17px;
    margin-right: 10px;
}
.box_wrapper_title h1 {
}
h1 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    font-weight: 400;
    line-height: 1em;
}
.un_title {
    display: inline-block;
    width: 100%;
}
.un_title {
    padding-top: 0px;
}
.box_wrapper_title22 {
    overflow: hidden;
    position: relative;
    background: #c24a49;
    margin: 18px 0 28px 0;
}
.box_wrapper_title22 .box_wrapper_title {
    padding: 9px 0px 7px 19px;
    float: left;
}
.box_wrapper_title22 .box_wrapper_title span.title-icon {
    background: url(../css/images/title-icon.gif) 0 0 no-repeat transparent;
    display: inline-block;
    width: 8px;
    height: 5px;
    position: absolute;
    top: 15px;
    left: 20px;
    display: none;
}
.box_wrapper_title22 .box_wrapper_title h1, .box_wrapper_title22 .box_wrapper_title h1 span, .box_wrapper_title22 .box_wrapper_title h1 a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Georgia",sans-serif;
    line-height: 17px;
    margin-right: 10px;
}
.cl_both {
    clear: both;
}
h1 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    font-weight: 400;
    line-height: 1em;
}
.box_wrapper_title22 .box_wrapper_title h1, .box_wrapper_title22 .box_wrapper_title h1 span, .box_wrapper_title22 .box_wrapper_title h1 a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Georgia",sans-serif;
    line-height: 17px;
    margin-right: 10px;
}
.contentContainer.last {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.contentContainer.page_un .contentPadd {
    padding: 0 0 0px 0px;
}
.contentContainer .contentPadd {
    background: transparent;
}
.contentPadd {
    padding: 0 0 20px 0px;
}
.index_page .prods_content {
    padding: 0px 0px 30px 0px;
}
.prods_content>ul {
    padding: 0px 0px;
    list-style: none;
    margin: 0px 0px 0px 0px;
    overflow: visible;
    display: inline-block;
}
.prods_content li.wrapper_prods {
    float: left;
    margin: 0px 0px 15px 0px;
    width: auto;
    width: 100%;
    position: relative;
}
.border_prods {
    padding: 20px 0px 0px 0px;
    text-align: left;
    background: #fbf5eb;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}
.pic_padd {
    padding: 18px 0px 0px 0px;
    margin: 0 auto;
}
.pic_padd {
    padding: 15px 0px 0px 0px;
    text-align: left;
}
.wrapper_pic_div a {
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}
.prods_pic_bg img {
    position: absolute;
}
img {
    vertical-align: top;
}
.prods_padd {
    padding: 9px 20px 20px 20px;
    border-top: 0px solid #e5e5e5;
    margin-top: 0px;
    text-align: left;
}
.cont7 {
    padding-top: 0px;
    padding-right: 0px;
    width: 100%;
}
.cont7 {
    padding-top: 0px;
    padding-right: 0px;
}
.name_padd {
    padding: 13px 0px 0px 0px;
    margin-top: 0px;
    display: inline-block;
    line-height: 14px;
    width: 100%;
}
.name span {
    font-size: 14px;
    line-height: 19px;
}
.name span a {
    color: #c65655;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Georgia",sans-serif;
    line-height: 14px;
}
/*content_left*/
#columnLeft {
    padding: 0px 0px 10px 0px;
}
#columnLeft {
    padding: 0px 0px 10px 0px;
}
.container_12 .pull_9 {
    left: -900px;
}
.container_12 .grid_3 {
    width: 270px;
    float: left;
}
#columnLeft>div {
    padding: 0px 0px 0px 0px;
}
.infoBoxWrapper.border_none {
    margin-bottom: 11px;
}
.infoBoxWrapper.border_none .infoHeading, .infoBoxWrapper.border_none .infoBoxHeading {
    margin-bottom: 0;
    margin: 0px 0px 0px 0px;
    position: relative;
}
.infoHeading, .infoBoxHeading {
    margin: 0px 0px 0px 0px;
    position: relative;
}
#columnLeft .box_wrapper_title22 {
    background: #3c8c44;
}
.infoBoxWrapper .box_wrapper_title22 {
    margin-bottom: 0;
}
.box_wrapper_title22 {
    overflow: hidden;
    position: relative;
    background: #c24a49;
    margin: 18px 0 28px 0;
}
.box_wrapper_title22 .box_wrapper_title {
    padding: 9px 0px 7px 19px;
    float: left;
}
.box_wrapper_title22 .box_wrapper_title h1, .box_wrapper_title22 .box_wrapper_title h1 span, .box_wrapper_title22 .box_wrapper_title h1 a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Georgia",sans-serif;
    line-height: 17px;
    margin-right: 10px;
}
.box_wrapper_title h1 {
}
h1 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    font-weight: 400;
    line-height: 1em;
}
.box_wrapper_title22 .box_wrapper_title span.title-icon {
    background: url(../css/images/title-icon.gif) 0 0 no-repeat transparent;
    display: inline-block;
    width: 8px;
    height: 5px;
    position: absolute;
    top: 15px;
    left: 20px;
    display: none;
}
.box_wrapper_title22 .box_wrapper_title h1, .box_wrapper_title22 .box_wrapper_title h1 span, .box_wrapper_title22 .box_wrapper_title h1 a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Georgia",sans-serif;
    line-height: 17px;
    margin-right: 10px;
}
.infoBoxWrapper.border_none .infoBoxContents {
    margin-bottom: 10px;
    background: #fbf5eb;
    padding: 0px 0px 0px 0;
    font-size: 13px;
}
.infoBoxWrapper.border_none .infoBoxContents {
    padding: 0px;
    margin: 0;
}
.infoBoxContents {
    background: #fbf5eb;
}
.infoBoxContents {
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}
.accordion_title .plus_minus{
    float: right;
}
.infoBoxContents .categories .accordion_title a{
    width: 238px;
}
.list ul.categories {
    padding: 0px 0px 0px 0px;
    font-weight: normal;
    margin: 0px 0 0 0;
}
.list .infoBoxContents li.first {
    border-top: 0px;
}
.list ul.categories li {
    background: #fbf5eb;
    padding: 0;
}
.list ul.categories li {
    padding: 0px 0;
    border-bottom: 1px solid #dedbd5;
}
.list ul.categories li.first .div_2 {
    display: inline-block;
}
.list .infoBoxContents li.first .div_2 {
    background: none;
}
.list ul.categories li .div_2 {
    padding: 0px;
    margin: 0px;
    display: block;
}
.list ul.categories li .div_2 a {
    margin: 15px 10px 12px 21px;
}
.list .infoBoxContents li.first a {
}
.list ul.categories li a {
    border-bottom: 0px solid #f5e7cf;
    background-color: #fbf5eb;
    color: #575756;
    font-size: 13px;
    font-weight: 400;
    font-family: "Georgia",sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: top;
    padding: 0px;
    line-height: 16px;
    position: relative;
    display: block;
}
.list ul.categories li .div_2 a .div_2 {
    margin: 0px;
    padding: 0px;
}
.list ul.categories li.first .div_2 {
    display: inline-block;
}
.list .infoBoxContents li.first .div_2 {
    background: none;
}
.infoBoxWrapper.specials .name_padd {
    padding: 5px 0px 16px 4px;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #d3bc96;
}
.name_padd {
    padding: 13px 0px 0px 0px;
    margin-top: 0px;
    display: inline-block;
    line-height: 14px;
    width: 100%;
}
.infoBoxWrapper.specials .price {
    text-align: left;
    display: inline-block;
    margin-top: 18px;
    margin-left: 3px;
}
.price_padd {
    padding: 0px 0px 0px 0px;
    color: #4c4c4c;
    position: relative;
    display: inline-block;
    float: left;
    margin-left: -4px;
}
.prods_wrapp {
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 1px;
    text-align: right;
    border-top: 1px solid #dcd7ce;
}
.desc_padd {
    font-size: 12px;
    color: #939393;
    font-weight: 400;
    font-family: "Arial",sans-serif;
    line-height: 20px;
    padding: 10px 0px 15px 0px;
    text-align: left;
}
.infoBoxWrapper.specials .button {
    display: inline-block;
    float: right;
    margin: 21px -8px 0 0;
}
.buttonset1, .button_details {
    height: 32px;
    margin-top: 22px;
}
.buttonset1 a, .button_details a {
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    background: #3c8c44;
    font-family: "Georgia",sans-serif;
    text-decoration: none;
    line-height: 15px;
    padding: 9px 23px 11px 18px;
}
.buttonset1 a:hover, .button_details a:hover {
    color: #fff;
    background: #1a471f;
}
.infoBoxContents a:hover {
    color: #4c4c4c;
}
.price b {
    font-size: 11px;
    font-weight: 400;
    display: none;
    float: left;
    margin-top: 0px;
}
.price b {
    font-size: 1.165em;
    line-height: 2em;
    float: left;
    color: #383838;
    display: none;
}
.infoBoxWrapper.specials .price del {
    color: #3c8c44;
    font-size: 16px;
    font-weight: 400;
    margin-right: 9px;
}
.infoBoxWrapper.specials .price span.productSpecialPrice {
    color: #c24a49;
    font-size: 20px;
    font-weight: 400;
    padding-right: 0px;
}
.price span.productSpecialPrice {
    display: inline-block;
    font-size: 24px;
    color: #c24a49;
    font-weight: 400;
    font-family: "Georgia",sans-serif;
    margin-right: 5px;
}
.infoBoxWrapper.specials .infoBoxContents {
    margin-top: 0px;
    padding: 0px 0px 25px 2px;
    background: #fbf5eb;
    overflow: hidden;
}
.infoBoxWrapper.box2 .infoBoxContents {
    padding: 20px 0px 25px 0px;
    background: #fbf5eb;
}
.infoBoxContents {
    background: #fbf5eb;
}
.infoBoxContents.hover .box-padd {
    display: block;
    text-align: left;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    text-align: center;
}
.infoBoxWrapper.specials .box-padd {
    padding: 20px 19px 0px 16px;
    display: inline-block;
    text-align: left;
    text-align: center;
}
.row_new_products_name{
    width: 100%;
}
.infoBoxContents ul li .show_text {
    color: #adb2b6;
    margin-top: 0.5em;
    font-weight: 200;
    font-family: "Georgia",sans-serif;
    font-size: 12px;
}
.row_table a .view_type.active{
    background-color: black;
}
/*//content_left*/
/*//content_detail*/
/*footer*/
.row_5 {
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    position: relative;
    width: 100%;
    text-align: left;
    background-color: rgba(255,255,255,0.75);
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    overflow: hidden;
}
.row_5 .foot_inner {
    margin: 0 auto;
    position: relative;
}
.row_5 .boxes_footer {
    display: inline-block;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    padding-bottom: 10px;
}
.Footer_BoxWrapper {
    margin: 45px 30px 32px 0;
    padding: 0px 0px 0px 1px;
    overflow: hidden;
    width: 269px;
    min-height: 130px;
    border-right: 1px solid #e2ddd3;
}
.fl_left {
    float: left;
}
.Footer_BoxWrapper h4 {
    padding: 15px 0px 17px 19px;
    margin: -3px 0px 0px 0px;
    color: #8b8888;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    display: none;
}
h4 {
    font-size: 1em;
    line-height: 1.4em;
    font-weight: normal;
    padding: 7px 10px 1px 5px;
    margin: 20px 0px 10px 0px;
    overflow: hidden;
}
.Footer_BoxWrapper.first ul {
    padding: 0px;
}
.Footer_BoxWrapper ul {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    list-style: none;
    display: inline-block;
}
.Footer_BoxWrapper ul li {
    padding: 2px 0px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
}
.Footer_BoxWrapper ul li a {
    font-family: "Arial",sans-serif;
    font-size: 13px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
    color: #8b8888;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 22px;
}
.Footer_BoxWrapper ul {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    list-style: none;
    display: inline-block;
}
.Footer_BoxWrapper ul li {
    padding: 2px 0px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
}
.Footer_BoxWrapper.contact_footer {
    width: 265px;
    padding-left: 0px;
    border: none;
    margin: 45px 0 16px 0px;
}
.Footer_BoxWrapper.contact_footer li {
    padding-left: 36px;
    margin-bottom: 3px;
    color: #8b8888;
}
.Footer_BoxWrapper.contact_footer li i {
    margin-left: -20px;
    margin-right: 13px;
}
.Footer_BoxWrapper ul li {
    padding: 2px 0px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
}
.row_8 {
    padding: 0px 0px 0px 0px;
    position: relative;
    width: 100%;
    float: left;
    min-height: 37px;
    background-color: #3c8c44;
    margin: 0 auto;
}
.row_5 .foot_inner {
    margin: 0 auto;
    position: relative;
}
.grid_ {
    float: none;
}
.grid_ {
    display: inline;
    margin: auto;
}
.footer {
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
    text-align: left;
    left: 0px;
}
.footer p {
    font-size: 11px;
    color: #fff;
    margin-left: -18px;
    display: block;
    padding: 11px 0px;
    clear: both;
    width: 100%;
    text-indent: 20px;
    text-transform: uppercase;
}
p {
    margin-top: 0px;
    margin-bottom: 0px;
}
.footer p a {
    color: #fff;
    font-weight: 400;
}
.footer p b a:hover {
    color: #b6200c;
}
.container_ {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.Footer_BoxWrapper ul li a:hover {
    color: #b6200c;
}
/*//footter*/
/*type*/
/*content_right*/
.show {
    padding: 0px;
    overflow: hidden;
    background: #fbf5eb;
    padding: 8px;
    margin-top: -13px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}
.show {
    margin: 10px 0px 0px 0px;
}
.show>div {
    display: block;
    float: left;
}
.show>div select {
    float: left;
    width: 200px;
}
.show>div strong, .show>div b {
    color: #4c4c4c;
    font-weight: 500;
    padding-right: 12px;
    padding-top: 4px;
    font-size: 12px;
    float: left;
}
select {
    background: #fff;
    border: 1px solid #c6c9d0;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    height: auto;
    padding: 6px 6px 6px 2px;
    width: auto;
}
.row_table {
    list-style: none;
    margin: 5px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
    float: right;
}
.row_table li.first {
    background: url(../css/images/row.png) no-repeat scroll 0 0 transparent;
}
.row_table li {
    float: right;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    width: 24px;
    height: 21px;
}
li.view_type.active{
    background-position: 0 -21px !important;
}
.row_table li.last {
    background: url(../css/images/table.png) no-repeat scroll 0 0 transparent;
}
.row_table li {
    float: right;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
    width: 24px;
    height: 21px;
}
.result1_top, .result2_top {
    margin: 15px 0px 10px 0px;
    overflow: hidden;
    background: #fbf5eb;
}
.result {
    color: #939393;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}
.result1_bottom, .result2_bottom {
    padding: 0px 0;
}
.result_top_padd, .result_bottom_padd {
    margin: 0px 0 0px 0;
    background: #fff;
    font-size: 11px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}
.result_top_padd div, .result_bottom_padd div {
    padding: 9px 8px 8px 10px;
}
.fl_left {
    float: left;
}
.result_top_padd div, .result_bottom_padd div {
    padding: 9px 8px 8px 10px;
}
.result_right {
    text-align: right;
}
.fl_right {
    float: right;
}
.result_right a.pageResults u {
    text-decoration: none;
}
.prods_content li.wrapper_prods {
    float: left;
    margin: 30px 0px 0px 0px;
    width: auto;
    width: 100%;
    position: relative;
}
.name span a {
    color: #c65655;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Georgia",sans-serif;
    line-height: 14px;
}
table tbody {
    border: none;
}
.listing td.first {
    width: 38%;
    text-transform: uppercase;
}
.listing td.first {
    width: 38%;
    text-transform: uppercase;
}
.listing td {
    width: 48%;
    color: #4c4c4c;
    padding: 3px 3px 3px 0px;
    font-size: 12px;
}
table td {
    padding: 10px 10px;
    padding-bottom: 10px;
}
table td {
    border: none;
}
table th, table td {
    vertical-align: middle;
}
table, table td {
    padding: 0;
    border: none;
}
td {
    vertical-align: middle;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
.listing td.last {
    text-align: right;
    padding: 3px 0px 3px 3px;
}
.listing td.first strong {
    padding-left: 0;
    font-weight: normal;
}
.listing b strong {
    color: #333;
    padding: 0px 0px 0px 0px;
}
.listing em, .listing strong {
    color: #333;
    font-weight: normal;
    font-size: 11px;
    padding: 0px 0px 0px 0px;
}
.listing_padd {
    padding: 0px 0px 0px 0px;
    text-align: left;
    margin: 10px 0px 10px 0px;
}
.price_padd {
    padding: 0px 0px 0px 0px;
    color: #4c4c4c;
    position: relative;
    display: inline-block;
    float: left;
    margin-left: -4px;
}
.button__padd {
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    line-height: 0em;
}
.button__padd .button_cart {
    height: 32px;
    padding: 0px 0px 0px 0;
    margin-left: 10px;
    display: inline-block;
    background-color: #3c8c44;
    border-left: 1px solid #418f49;
    border-right: 1px solid #418f49;
}
.button__padd .button_cart a {
    padding: 0;
}
.button__padd .button_cart a span.ui-button-text {
    color: #fff;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 15px;
    display: inline-block;
    text-decoration: none;
    padding: 8px 22px 9px 18px;
}
.buttonset1 a:hover, .button_details a:hover {
    color: #fff;
    background: #1a471f;
}
.contentContainer .prods_content .row{
    padding: 0px 0px;
    list-style: none;
    margin: 0px 0px 0px 0px;
    overflow: visible;
    display: inline-block;
    width: 100%;
}
.page_listing .r_view .border_prods {
    padding: 10px 10px 20px 20px;
    overflow: hidden;
}
.fl_left {
    float: left;
}
.page_listing .r_view .prods_padd {
    width: 570px;
    float: left;
    padding-bottom: 0;
}
.prods_content .name2_padd {
    padding: 5px 0px 5px 0px;
    text-align: left;
}
.name span {
    font-size: 14px;
    line-height: 19px;
}
.page_listing .r_view .listing_padd {
    margin-bottom: 20px;
}
.listing_padd {
    padding: 0px 0px 0px 0px;
    text-align: left;
    margin: 10px 0px 10px 0px;
}
table {
    vertical-align: middle;
    padding: 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-spacing: 0;
    margin-top: 10px;
}
table tbody {
    border: none;
}
.listing strong a {
    color: #333;
    text-decoration: underline;
}
.listing td.first {
    width: 38%;
    text-transform: uppercase;
}
.listing td.first {
    width: 38%;
    text-transform: uppercase;
}
.listing td {
    width: 48%;
    color: #4c4c4c;
    padding: 3px 3px 3px 0px;
    font-size: 11px;
}
.listing td.last {
    text-align: right;
    padding: 3px 0px 3px 3px;
}
.listing td.first strong {
    padding-left: 0;
    font-weight: normal;
}
.listing em, .listing strong {
    color: #333;
    font-weight: normal;
    font-size: 11px;
    padding: 0px 0px 0px 0px;
}
.prods_content li.wrapper_prods {
    float: left;
    margin: 0px 0px 0px 0px;
    width: auto;
    width: 100%;
    position: relative;
}
.border_prods {
    padding: 0px 0px 0px 0px;
    text-align: left;
    background: #fbf5eb;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}
.page_listing .r_view .pic_padd {
    padding-top: 10px;
}
.r_view .wrapper_pic_div {
    padding-left: 0px;
    padding-right: 0px;
}
.page_listing .prods_padd {
    padding: 0px 20px 0px 25px;
    width: auto;
}
.prods_padd {
    padding: 8px 20px 15px 20px;
    border-top: 0px solid #e5e5e5;
    margin-top: 0px;
    text-align: left;
}
.listing_padd .listing tr{
    line-height: 25px;
}
.button__padd .button_cart a span.ui-button-text:hover {
    color: #fff;
}
.button_cart a span:hover{
    color: #fff;
    background: #1a471f;
}
/*//content_right*/
/*type*/
/*login*/
.breadcrumb {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.breadcrumb a {
    font-size: 11px;
    color: #3c8c44;
    text-decoration: none;
    display: inline-block;
}
.breadcrumb i {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: 0px;
    font-size: 12px;
}
.breadcrumb a {
    font-size: 11px;
    color: #3c8c44;
    text-decoration: none;
    display: inline-block;
}
.breadcrumb span{
    vertical-align: middle;
}
.contentContainer.last {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.contentContainer.loginPage .contentPadd {
    padding: 0px 0px 40px 0px;
}
.contentContainer .contentPadd {
    background: transparent;
}
.login_box {
    width: 420px;
    float: left;
    margin-right: 30px;
    margin-top: 20px;
}
.login_box_right {
    width: 420px;
    float: left;
    margin-top: 20px;
}
.login_box .contentInfoText {
    min-height: 336px;
}
.contentInfoText.marg-top {
    margin: 0px 0px 0px 0px;
    height: 335px;
}
.contentInfoText {
    padding: 5px 20px 20px 20px;
    margin: 10px 0px 10px 0px;
    background: #fff;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}
.loginPage .contentPadd h3 {
    margin-top: 0;
}
.contentPadd h3 {
    margin: 0px 0px 0px 0px;
    padding: 12px 20px 7px 0px;
    font-size: 14px;
    text-transform: uppercase;
    color: #4c4c4c;
    font-weight: 500;
    font-family: "Open Sans",sans-serif;
    border-bottom: 1px solid #c6c9d0;
    margin-bottom: 20px;
}
.loginPage p.small_title {
    padding-bottom: 12px;
    font-size: 12px;
}
.small_title {
    color: #d0d0d0;
}
.buttonSet {
    height: 32px;
    padding: 10px 0 0 0;
    margin-top: 22px;
    padding: 10px 20px 0 10px;
}
.button_cart {
    padding: 0px 0px 0px 0;
    display: inline-block;
    background-color: #3c8c44;
}
.buttonSet a {
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    background: #3c8c44;
    font-family: "Georgia",sans-serif;
    text-decoration: none;
    line-height: 15px;
    padding: 8px 22px 9px 18px;
}
.contentInfoText.marg-top {
    margin: 0px 0px 0px 0px;
}
.contentInfoText {
    padding: 5px 20px 20px 20px;
    margin: 10px 0px 10px 0px;
    background: #fff;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}
.loginPage .contentPadd h3 {
    margin-top: 0;
}
.contentPadd h3 {
    margin: 0px 0px 0px 0px;
    padding: 12px 20px 7px 0px;
    font-size: 14px;
    text-transform: uppercase;
    color: #4c4c4c;
    font-weight: 500;
    font-family: "Open Sans",sans-serif;
    border-bottom: 1px solid #c6c9d0;
    margin-bottom: 20px;
}
.loginPage p.small_title {
    padding-bottom: 12px;
}
.small_title {
    color: #d0d0d0;
}
form {
    margin: 0 0 0px 0;
    padding: 0;
}
#table-login {
    margin-bottom: 0;
}
table {
    vertical-align: middle;
    padding: 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-spacing: 0;
    margin-top: 10px;
}
table tbody {
    border: none;
}
table td {
    padding: 10px 10px;
    padding-bottom: 10px;
}
#table-login td label {
    display: block;
    margin-bottom: 5px;
}
label, input, button, select, textarea {
    font-weight: normal;
    font-size: 12px;
}
input[type="text"],  input[type="password"]{
    border: 1px solid #c6c9d0;
    border-radius: 0px 0px 0px 0px;
    background-color: #fff;
    font-family: inherit;
    color: rgba(0,0,0,0.75);
    font-size: 14px;
    margin: 0 0 0px 0;
    padding: 6px;
    height: 32px;
    width: 100%;
    transition: all 0.15s linear;
    outline: none;
}
.forgotten a {
    color: #f13340;
    text-decoration: underline;
    font-size: 13px;
}
.buttonSet {
    height: 32px;
    padding: 10px 0 0 0;
    margin-top: 22px;
    padding: 10px 20px 0 10px;
}
.buttonset1, .button_details {
    height: 32px;
    margin-top: 22px;
}
.buttonSet .button_details button {
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    background: #3c8c44;
    font-family: "Georgia",sans-serif;
    text-decoration: none;
    line-height: 15px;
    padding: 8px 22px 9px 18px;
    border: 0px;
}
.infoBoxContents {
    background: #fbf5eb;
}
.infoBoxContents {
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}
.list .information {
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    padding: 0px;
    margin: 0px;
}
.infoBoxContents ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list .infoBoxContents li.first {
    border-top: 0px;
}
.list .infoBoxContents li.first .div_2 {
    background: none;
}
.list .information .div_2 {
    padding: 10px 0;
    border-top: 1px solid #c6c9d0;
}
.list .information .div_2 a {
    font-weight: 500;
    font-size: 13px;
    padding: 0px 0px 0px 0px;
    margin-left: 20px;
    color: #939393;
    display: inline-block;
}
.form-group span {
    color: red;
    font: normal 12px/29px Bitter, Myriad Pro, Verdana, serif;
}
/*//login*/
/*register*/
.create_account h3 .inputRequirement {
    float: right;
    padding-right: 0;
}
h3 .inputRequirement {
    padding-top: 0px;
    font-weight: normal;
    font-size: .8em;
}
.infoString:before {
    content: "\f05a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
    font-size: 20px;
    position: absolute;
    display: inline-block;
    vertical-align: -2px;
    left: 12px;
    top: 7px;
}
.infoString {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 40px;
    background: #5192f3;
    border: 1px solid #4b80c3;
    text-shadow: 1px 1px 1px #4882d8;
    color: #fff;
    position: relative;
    font-size: 12px;
}
.infoString font {
    display: none;
}
.contentPadd {
    padding: 0 0 20px 0px;
}
.create_account .contentInfoText {
    padding-bottom: 12px;
}
.contentInfoText {
    padding: 5px 20px 20px 20px;
    margin: 10px 0px 10px 0px;
    background: #fff;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}
.create_account .contentPadd h3 {
    padding-right: 0;
    margin-bottom: 0;
}
.contentPadd h3.first_h3 {
    margin-top: 0px;
}
.contentPadd h3 {
    margin: 0px 0px 0px 0px;
    padding: 12px 20px 7px 0px;
    font-size: 14px;
    text-transform: uppercase;
    color: #4c4c4c;
    font-weight: 500;
    font-family: "Open Sans",sans-serif;
    border-bottom: 1px solid #c6c9d0;
    margin-bottom: 20px;
}
.create_account table {
    padding-left: 10px;
}
.create_account table {
    margin-bottom: 0;
}
table {
    vertical-align: middle;
    padding: 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-spacing: 0;
    margin-top: 10px;
}
.create_account .fieldValue input.input {
    width: 430px;
}
.fieldValue input.input {
    width: 70%;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    border: 1px solid #c6c9d0;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    background-color: #fff;
    font-family: inherit;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    color: rgba(0,0,0,0.75);
    font-size: 14px;
    margin: 0 0 0px 0;
    padding: 6px;
    height: 32px;
    width: 100%;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
    outline: none;
}
.table_lable {
    display: block;
    padding-bottom: 5px;
    font-weight: bold;
    color: #333;
    font-size: 12px;
}
.create_account .radio input+input {
    margin-left: 20px;
}
.buttonset1, .button_details {
    height: 32px;
    margin-top: 22px;
}
.buttonset1 button, .button_details button {
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    background: #3c8c44;
    font-family: "Georgia",sans-serif;
    text-decoration: none;
    line-height: 15px;
    padding: 9px 22px 6px 18px;
    border: 0px;
    cursor: pointer;
}
.inputRequirement {
    color: #F00;
}
.inputRequirement {
    font-family: Arial,Helvetica,sans-serif;
    color: #ff0000;
    padding: 5px 10px 0px 5px;
    font-size: 12px;
}
.buttonset1 button:hover, .button_details button:hover {
    color: #fff;
    background: #1a471f;
}
/*//register*/
/*list*/
.breadcrumb a:hover {
    color: #4c4c4c;
}
.breadcrumb a.last:hover {
    color: #939393;
}
.infoBoxContents {
    background: #fbf5eb;
}
.infoBoxContents {
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}
table {
    vertical-align: middle;
    padding: 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-spacing: 0;
    margin-top: 10px;
}
table td {
    padding: 10px 10px;
    padding-bottom: 10px;
    font-size: 13px;
}
.box_icon {
    display: block;
    float: left;
    padding: 0px 20px 0px 0px;
}
.infoBoxWrapper.box2 .infoBoxContents {
    padding: 10px 10px 25px 10px;
    background: #fbf5eb;
}
.infoBoxContents {
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}
.infoBoxWrapper.box2 .infoBoxContents a+a {
    height: 64px;
    vertical-align: middle;
    display: table-cell;
    font-size: 14px
}
.contentContainer.last {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.contentPadd.prods_info_page {
    border: 1px solid #c6c9d0;
    padding-left: 10px;
    background: #fbf5eb;
    margin-bottom: 15px;
}
.contentPadd.prods_info_page {
    padding: 0px 0px 0px 10px;
}
.prods_info {
    margin: 20px 20px 20px 10px;
}
.decks {
    margin: 0 auto;
    list-style-type: none;
}
.forecastle {
    display: table;
    width: 100%;
}
.decks ol, .decks li {
    margin: 0;
    padding: 0;
}
.masthead {
    display: table-row;
}
.prods_info li.left_side_pic-1 {
    width: 38.5%;
}
.prods_info li.port_side, .prods_info li.starboard_side, .prods_content li.port_side, .prods_info li.bak, .prods_content li.starboard_side {
    display: table-cell;
    vertical-align: top;
}
.prods_info li.right_side_pic-1 {
    width: 61%;
}
#piGal {
    padding-bottom: 10px;
    visibility: hidden;
    margin-right: 0px;
    position: relative;
}
.fl_left {
    float: left;
}
.info {
    padding: 0 10px 0 10px;
}
.info h2 {
    font-size: 15px;
    font-weight: 500;
    color: #939393;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    width: 100%;
}
.info h2 .smallText {
    font-size: 13px;
    color: #4c4c4c;
    display: block;
    padding-top: 7px;
}
.prods_info .options {
    padding: 10px 10px 0px 10px;
    background: #eee;
    border: 1px solid #c6c9d0;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.prods_info .options p.options-title {
    color: #939393;
    font-size: 15px;
    font-weight: 500;
    padding: 0px 0px 10px 0px;
}
.info h2 {
    font-size: 15px;
    font-weight: 500;
    color: #939393;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    width: 100%;
}
h2.price b {
    font-size: .8em;
    font-weight: normal;
    display: none;
    float: left;
    margin-top: 1px;
}
.prods_info .options ul li {
    margin-bottom: 12px;
}
.prods_info .options ul li label {
    display: block;
    padding-bottom: 2px;
}
label, input, button, select, textarea {
    font-weight: normal;
    font-size: 12px;
}
.prods_info .options select {
    width: 100%;
}
select {
    background: #fff;
    border: 1px solid #c6c9d0;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    height: auto;
    padding: 6px 6px 6px 2px;
    width: auto;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.prods_info h2 span.productSpecialPrice {
    color: #c24a49;
    font-size: 24px;
    font-weight: 400;
    margin-right: 10px;
    float: left;
}
.buttonset1, .button_details {
    height: 32px;
    margin-top: 22px;
}
.fl_right {
    float: right;
}
.fl_left {
    float: left;
}
.button_cart {
    padding: 0px 0px 0px 0;
    display: inline-block;
    background-color: #3c8c44;
}
.buttonset1, .button_details {
    height: 32px;
    margin-top: 22px;
}
.button_cart button {
    height: 32px;
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    background: #3c8c44;
    font-family: "Georgia",sans-serif;
    text-decoration: none;
    line-height: 15px;
    padding: 9px 22px 6px 18px;
    margin-top: -8px;
    border: 0px;
}
.buttonset1 a, .button_details a {
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    background: #3c8c44;
    font-family: "Georgia",sans-serif;
    text-decoration: none;
    line-height: 15px;
    padding: 9px 22px 11px 18px;
}
.prods_info .data_padd {
    padding: 30px 10px 0px 10px;
    color: #4c4c4c;
    display: inline-block;
}
.prods_info .data_padd {
    padding: 30px 0px 11px 15px;
    font-size: 11px;
    color: #938c8c;
}
.prods_info .desc_padd {
    padding: 11px 0px 11px 0px;
    text-align: left;
    font-size: 13px;
    line-height: 1.3em;
    margin-left: 10px;
    margin-right: 10px;
}
.prods_info .infoBoxWrapper {
    margin: 15px 0px 0px 0px;
}
.prods_info .infoBoxWrapper .infoBoxHeading, .prods_info .infoBoxWrapper .infoBoxHeading a {
    border: 0;
    color: #303030;
}
.infoHeading, .infoBoxHeading {
    margin: 0px 0px 0px 0px;
    position: relative;
}
.prods_info .infoBoxWrapper .infoBoxContents {
    padding: 10px 11px 10px 11px;
}
.infoBoxContents {
    background: #fbf5eb;
}
.infoBoxContents {
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}
.infoBoxHeading .title-icon {
    background: url(../css/images/title-icon.gif) 0 0 no-repeat transparent;
    display: inline-block;
    width: 8px;
    height: 5px;
    position: absolute;
    top: 14px;
    left: 10px;
    display: none;
}
.infoBoxWrapper .box_wrapper_title22 {
    margin-bottom: 0;
}
.box_wrapper_title22 {
    overflow: hidden;
    position: relative;
    background: #c24a49;
    margin: 18px 0 28px 0;
}
.box_wrapper_title22 .box_wrapper_title {
    padding: 9px 0px 7px 19px;
    float: left;
}
.box_wrapper_title22 .box_wrapper_title h1, .box_wrapper_title22 .box_wrapper_title h1 span, .box_wrapper_title22 .box_wrapper_title h1 a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Georgia",sans-serif;
    line-height: 17px;
    margin-right: 10px;
}
.box_wrapper_title22 .box_wrapper_title span.title-icon {
    background: url(../css/images/title-icon.gif) 0 0 no-repeat transparent;
    display: inline-block;
    width: 8px;
    height: 5px;
    position: absolute;
    top: 15px;
    left: 20px;
    display: none;
}
.contentPadd.prods_info_page {
    border: 1px solid #c6c9d0;
    padding-left: 10px;
    background: #fbf5eb;
    margin-bottom: 15px;
}
.contentPadd.prods_info_page {
    padding: 15px 10px 20px 10px;
}
.breadcrumb a.last {
    color: #4c4c4c;
}
#overlay {
    border: 1px solid #f3f3f3;
    width: 300px;
    height: 300px;
    position: absolute;
    margin-left: 320px;
    z-index: 9999;
    background: white no-repeat;
    background-image: url(../css/images/p7-1.jpg);
}
.zing_pic .pic_full:hover {
    overflow: hidden;
    background-color: #FFF;
    opacity: 0.6;
    z-index: 120;
    cursor: crosshair;
    transform: none;
}
/*//list*/
@media only screen and (max-width: 768px){
    #bodyWrapper:before{
        position: static;
    }
    .container_12, .container, .container_12 .grid_12, .container_12 .grid_9{
        width: 758px;
        margin: 0 auto;
    }
    .row_5{
        width: 758px;
        margin: 0 auto;
    }
    body{
        width: 100%;
    }
    /*header*/
    .slidprev, .slidnext{
        margin: -120px 0 0 0;
    }
    .w3-container .slidnext {
        margin-left: 21.5em;
    }
    /*menu*/
    ul.user_menu{
        left: 160px;
    }
    .boxes_menu .menu{
        height: auto;
    }
    .navigations {
        border-bottom: 0.5em;
        height: 45px;
    }
    .navigations ul {
        width: 100%;
        height: auto;
        display: none;
    }
    .navigations a#pulls:after {
        content: "";
        background: url(../css/images/nav-icon.png) no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        left: 20px;
        top: 10px;
    }
    .navigations ul li {
        display: inline-block;
        width: 100%;
        text-align: left;
        background: #ffffff;
        border-bottom: 1px solid #d9d9d9;
    }
    .navigations ul li a {
        color: #000000;
        padding: 0px 45px;
        font-size: 15px;
        text-decoration: none;
        display: block;
        text-align: left;
        width: 100%;
    }
    .navigations a#pulls {
        display: block;
        background-color: #e6e9ed;
        width: 100%;
        position: relative;
        height: 40px;
        background: #b36060;
    }
    .navigations {
        width: 100%;
        height: 50px;
        border-top: 1px solid #e0e0e0;
        margin: 0 0 25px 0;
        position: relative;
        z-index: 1000;
    }
    .navigations ul {
        margin: 0 auto;
        background: #f5f7f9;
    }
    .navigations ul li {
        display: block;
        float: left;
    }
    .clearfixx:before,
    .clearfixx:after {
        content: " ";
        display: table;
    }
    .clearfixx:after {
        clear: both;
    }
    .navigations a {
        display: block;
        width: 100px;
        text-align: center;
        line-height: 70px;
        font-size: 15px;
    }
    .navigations li:last-child a {
        border-right: 0;
    }
    .navigations ul li a:hover{
        border: 1px solid #c3d7e9;
        background: #8bd2da;
        text-decoration: none;
    }
    .navigations ul li a{
        float: left;
        height: 48px;
        color: #444;
        text-transform: uppercase;
        font: normal 14px/50px Bitter, Myriad Pro, Verdana, serif;
        border: 1px solid #f5f7f9;
        background: #f5f7f9;
        transition: 0.5s;
    }
    .boxes_menu .menu ul li a{
        color: black;
        padding: 0 0 0 20px;
    }
    .boxes_menu .menu ul li{
        height: 50px;
    }
    .boxes_menu .menu ul{
        display: none;
    }
    /*//menu*/
    a.logo{
        left: 260px;
    }
    .box_languages{
        display: none;
    }
    .box_header_cart{
        display: none;
    }
    #box_search{
        display: none;
    }
    .w3-display-container{
        max-width: none !important;
        margin-top: -20px;
    }
    .banner_side {
        margin-top: 0px;
        float: left;
        width: 100%;
    }
    .banner_side a {
        margin: 20px 0px 0px 3px;
        float: left;
    }
    #columnLeft {
        width: 35%;
    }
    #bodyContent {
        padding: 0px 0px 0px 30px;
        width: 61%;
    }
    /*//header*/
    /*content*/
    .prods_content ul li{
        width: 100% !important;
        margin-left: 0px !important;
    }
    .list_detail .prods_info li.port_side, .list_detail .prods_info li.starboard_side, .list_detail .prods_content li.port_side, .list_detail .prods_info li.bak, .prods_content li.starboard_side{
        display: -webkit-box;
        vertical-align: top;
    }
    .prods_info li.right_side_pic-1 {
        width: 100%;
    }
    .list_detail .left_side_pic-1{
        padding: 0 10px 0 10px;
    }
    .register_detail .create_account .fieldValue input.input {
        width: 390px;
        margin-bottom: 10px;
    }
    .register_detail .inputRequirement{
        display: none;
    }
    .login_detail .login_box_right, .login_detail .login_box{
        width: 470px;
    }
    /*//content*/
    /*footter*/
    .boxes_footer .Footer_BoxWrapper{
        margin-left: 1em;
    }
    .Footer_BoxWrapper {
        margin: 35px 0px 0 0;
        width: 159px;
    }
    .Footer_BoxWrapper.contact_footer {
        width: 220px;
        margin: 35px 0 20px 0px;
    }
    .Footer_BoxWrapper.contact_footer li {
        padding-left: 20px;
        margin-bottom: 0;
    }
    .type_detail .buttonset1 a, .type_detail .button_details a{
        padding: 9px 22px 11px 18px;
    }
    .type_detail .button__padd {
        padding: 10px 0px 10px 0px;
        margin: -10px 0px 0px 0;
        display: inline-block;
        line-height: 0em;
        float: right;
    }
    .type_detail .r_view .page_listing .prods_padd{
        padding: 20px 20px 0px 0px;
    }
    .type_detail .r_view .listing td.last{
        padding: 3px 135px 3px 3px;
    }
    .type_detail .border_prods{
        height: 450px;
    }
    .page_listing .r_view .prods_padd{
        padding: 20px 20px 0 0;
    }
    .page_listing .r_view .fl_right{
        margin: -10px 135px 0px 0px;
    }
    /*//footter*/
}

@media only screen and (max-width: 375px){
    .prods_pic_bg img{
        margin-left: 12px;
    }
    #bodyWrapper:before{
        position: static;
    }
    .container_12, .container, .container_12 .grid_12, .container_12 .grid_9{
        width: 365px;
        margin: 0 auto;
    }
    body{
        width: 100%;
    }
    /*header*/
    a.actives.active{
        color: white !important;
    }
    ul.user_menu li{
        margin-left: 0.5em;
    }
    a.logo {
        left: 75px;
    }
    ul.user_menu {
        left: 10px;
    }
    .user_menu .button-t span {
        font-size: 8px;
    }
    ul.user_menu li a{
        font-size: 8px;
    }
    /*//header*/
    /*content*/
    .list ul.categories li .div_2 a{
        margin: 15px 10px 12px 12.5px;
    }
    .infoBoxWrapper.border_none{
        width: 365px;
    }
    .accordion_title .plus_minus{
        margin-right: -8em;
    }
    #bodyContent {
        padding: 0 !important;
        width: 365px;
    }
    .grid_3 .box2{
        width: 365px;
    }
    .type_detail .r_view .listing td.last {
        float: left;
        margin-left: -55px;
    }
    .page_listing .r_view .fl_right {
        float: right;
        margin-right: 235px;
    }
    .list_detail .infoBoxWrapper{
        width: 365px;
    }
    .list_detail .decks .infoBoxWrapper {
        width: 345px;
    }
    .list_detail .infoBoxContents {
        box-shadow: 0 0 6px 5px rgba(0,0,0,0.2);
    }
    .list_detail .left_side_pic-1{
        padding:  0 10px 0 10px;
    }
    .register_detail .create_account .fieldValue input.input {
        width: 295px;
        margin-bottom: 10px;
    }
    .register_detail .buttonset1{
        margin-left: 9em;
    }
    .register_detail .infoBoxWrapper{
        width: 365px;
    }
    .login_detail .grid_9{
        margin-bottom: 10em;
    }
    .login_detail .login_box_right, .login_detail .login_box {
        width: 365px;
    }
    .create_account table{
        padding-left: 0;
    }
    .login_detail .box_wrapper{
        width: 365px;
        margin: 0 auto;
    }
    /*//content*/
    /*footter*/
    .row_5{
        width: 365px;
        margin: 0 auto;
    }
    .Footer_BoxWrapper{
        margin: 25px 0px 0 0;
        width: 100%;
        border-bottom: 1px solid #e2ddd3;
    }
    .footer{
        padding: 0px 0px 0px 10px;
    }
    /*/footter*/
}
